{% extends "base.html" %}
{% block title %}Admin - Users{% endblock %}

{% block content %}
<h2>User Management</h2>

<a href="/admin/login-history">Login History</a>

<a href="/admin/add-user" class="btn btn-primary">
    + Tambah User
</a>

<table border="1" width="100%">
<tr>
    <th>Username</th>
    <th>Role</th>
    <th>Action</th>
</tr>

{% for u in users %}
<tr>
    <td>{{ u[1] }}</td>
    <td>{{ u[2] }}</td>
    <td>
        {% if u[1] != 'root' %}
            <a href="/admin/delete/{{ u[1] }}">Delete</a>
        {% endif %}
    </td>
</tr>
{% endfor %}
</table>
{% endblock %}