{% extends "base.html" %}
{% block title %}Tambah User{% endblock %}

{% block content %}
<div class="card">
    <h2>Tambah User</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %}
    {% endwith %}

    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="text" name="username" placeholder="Username" required>

        <input type="password" name="password"
               placeholder="Password sementara"
               minlength="8" required>

        <select name="role">
            <option value="user">User</option>
            <option value="root">Admin</option>
        </select>

        <button class="btn btn-primary">Buat User</button>
    </form>
</div>
{% endblock %}