{% extends "base.html" %}
{% block title %}Ganti Password{% endblock %}

{% block content %}
<div class="card">
    <h2>Ganti Password</h2>

    <p>
        Demi keamanan, Anda <b>WAJIB</b> mengganti password
        sebelum melanjutkan.
    </p>

    <!-- FLASH MESSAGE -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form method="post">
        {{ csrf_token() }}

        <input
            type="password"
            name="password"
            placeholder="Password baru"
            required
            minlength="8"
        >

        <input
            type="password"
            name="confirm"
            placeholder="Ulangi password baru"
            required
            minlength="8"
        >

        <button class="btn btn-primary">
            Simpan Password
        </button>
    </form>
</div>
{% endblock %}