{% extends "base.html" %}
{% block title %}File Saya{% endblock %}

{% block content %}
<h2>File Saya</h2>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}
{% endwith %}

<form method="post" enctype="multipart/form-data">
    <input type="file" name="file" required>
    <button class="btn btn-primary">Upload</button>
</form>

<hr>

<ul>
{% for f in files %}
    <li style="margin-bottom:10px">

        {% if f.lower().endswith(('png','jpg','jpeg','gif')) %}
            <img
                src="/files/preview/{{ f }}"
                style="max-width:120px; max-height:120px; display:block;"
            >
        {% endif %}

        <b>{{ f }}</b><br>

        <a href="/files/preview/{{ f }}" target="_blank">Preview</a> |
        <a href="/files/download/{{ f }}">Download</a> |
        <a href="/files/rename/{{ f }}">Rename</a> |
        <a href="/files/delete/{{ f }}"
           onclick="return confirm('Hapus file ini?')">
           Delete
        </a>
    </li>
{% else %}
    <li>Belum ada file</li>
{% endfor %}
</ul>

{% endblock %}